@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @(context.User.Claims.First(x => x.Type == "Login").Value)!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
    </NotAuthorized>
</AuthorizeView>

